/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.menu {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: flex-start;
    float: right;
    padding: 0;
    box-shadow: none;
}
.name-menu {
    display: none
}
.items {
    flex: 1 1 20px;
    margin: 4px;
}
.style-pick {
    position: absolute;
    top:0;
    right: 0;
}
.header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-content {
	font-family: monospace;
	font-size: 1.3em;
	text-decoration: none;
    word-wrap: break-word;
    display: flex;
    margin: 0.3em;
    width: 10%
}

/*
    Site layout
*/
.main {
    display: grid;
    grid-template-columns: 15% auto;
}
.center-top {
    display: flex;
    justify-content: center;
}
/*
    grid-positioning, it's the easiest way of getting the layout you want
*/
.left-bar {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.menu {
    width: 100%;
    height: 100vh;
}
.menu > a {
    padding: 5px;
    margin: 2px;
}
.grid-content {
    width: 100%;
    margin: 10px;
}

/*
    Formating content and such
*/

.content-title {
    font-size: 1.8rem;
    margin-bottom: 0.4em;
}
.content-info {
    font-size: 0.8rem;
    margin-bottom: 1.2em;
    margin-left: 0.5em;
}
.content {
    margin-left: 0.5em;
    font-size: 1rem;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-line
}
.content-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
}
.code {
    margin: 1em;
    white-space: pre-wrap;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
}
#register-form {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(196, 180, 180);
    border-radius: 5px;
}

.register-form-title {
    display: flex;
    justify-content: center;
    margin: 1em;
    font-size: 2em;
    color: black;
}

.register-form-input {
    border: unset;
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 0.2em;
    justify-content: center;
    border-bottom: 1px solid #291717;
    margin: 0.4em auto;
    width: 90%;
    box-sizing: border-box;
    background: unset;
}

.register-form-input::placeholder {
    color: black;
}

.register-form-button {
    border: unset;
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 0.2em;
    justify-content: center;
    border-bottom: 1px solid #291717;
    margin: 0.4em auto;
    width: 90%;
    box-sizing: border-box;
    cursor: pointer;
}

.footer {
    display: flex;
    width: 100%;
    margin: auto;
}
.footer-text {
 	font-family: monospace;
    font-size: 1em;
    margin: 1em;
}
/*
    images
*/
.image {
	opacity: 1;
	width: 100%;
    height: auto;
}
.image-post {
    display: flex;
    margin: auto;
    border-radius: 5px;
    justify-content: flex-start;
}
/*
    Mobile-friendly stuff
*/
@media (max-width: 750px) {
	.main {
		display: flex;
        flex-direction: column;
		width: 95%;
	}

	.grid-content {
		grid-template-columns: 100%;
	}
	.main > .left-bar, .center-top, .center-bottom {
		margin: 0.2em;
	}
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-content {
        margin: 0.3em;
        font-size: 2rem;
    }
    .code {
        font-size: 1rem;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .footer {
        grid-template-columns: 1fr
    }
    .image-post {
        width: 80%;
    }
}
@media (min-width: 751px) and (max-width: 1099px) {
	.main {
		width: 90%;
	}
	.grid-content {
        grid-template-columns: 100%;
	}
	.main > .left-bar, .center-top, .center-bottom {
		margin: 0.3em;
	}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-content {
        font-size: 1.3em;
    }
    .footer {
        grid-template-columns: 1fr
    }
    .image-post {
        width: 65%;
    }
}
@media (min-width: 1100px) and (max-width: 1400px) {
	.main {
		width: 80%;
	}
	.grid-content {
		grid-template-columns: 100%;
	}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer {
        grid-template-columns: 1fr
    }
    .image-post {
        width: 50%;
    }
}
@media screen and (max-width: 750px) {
    .menu {
        display: none;
    }
    .menu_side {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        list-style: none;
        overflow: hidden;
        overflow-x: hidden; 
        overflow-y: auto;
    }
    .name-menu {
        display: inline;
        position: absolute;
        margin-left: 2em;
    }
    .items {
        margin-top: 0.2em;
        font-size: 1.2rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 15%
    }
    .bar1,
    .bar2,
    .bar3 {
        position: relative;
        margin: 0.2em;
        width: 35px;
        height: 5px;
        transition: 0.4s;
    }
    .placement .bar1,
    .placement .bar2,
    .placement .bar3 {
        position: absolute;
        top: 2em;
        right: 2em;
        margin: 0.2em;
        z-index: 1;
    }
    .placement .bar1 {
        transform: rotate(45deg)
    }
    .placement .bar2 {
        display: none
    }
    .placement .bar3 {
        transform: rotate(-45deg)
    }
}