html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    min-height: 100%;
    font-size: 12px;
}
.form-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 2px solid lightgray;
    border-radius: 4px;
}
.form-login {
    border-radius: 2px;
    border: 1px solid black;    
    background: orange;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
.login-label {
    font-size: 1.4rem;
}
input {
    margin: 0.2em;
}
label {
    margin: 0.2em;
}
button {
    margin: 0.2em;
    border-radius: 1em;
}
.input-login {
    text-align: center;
    border: unset;
    height: 1.4em;
    width: 150px;
    border-radius: 2px;
    margin: auto;
}
input[type=text]:focus, input[type=password]:focus {
    width: 250px;
}
input[type=submit]:hover {
    cursor: pointer;
}
.header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-space {
    padding-top: 0.5em;
    padding-bottom: 0.5em
}
.header-content {
	color: black;
	font-family: monospace;
	font-size: 1.15em;
	text-decoration: none;
    word-wrap: break-word;
    display: flex;
    margin: 0.3em;
    display: grid;
    grid-template-columns: 2em auto;
}
.header-content:hover {
    color: orange;
}
.list-parent {
    position: absolute;
    margin-left: 2em;
}
.list {
    list-style: none;
}
.list-item {
    font-size: 0.8em;
    width: 10em;
}
a {
    color: black;
    text-decoration: none
}
a:hover {
    color: orange
}
/*
    Site layout
*/
.main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: auto;
    width: 70%;
    padding-top: 1em;
    grid-gap: 15px;
}
.main > .center-top, .center-bottom {
    padding: 0.2em;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.left-bar, .center-top, .center-bottom {
    font-size: 1.5em;
}
/*
    grid-positioning, it's the easiest way of getting the layout you want
*/
.left-bar {
    box-shadow: 1px 1px 1px black;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 1em;
    width: 20%;
    height: 100%;
    background: white;
}
.center-top {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
}
.grid-content-full {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
}
.grid-content > div {
    margin: 1em;
}
.center-bottom {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
/*
    Formating content
*/
.content {
    font-size: 1em;
    font-family: monospace;
    word-wrap: break-word;
}
.scrollable-table {
    height: 400px;
    overflow: auto;
}
.code {
    margin: 1em;
    white-space: pre-wrap;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    background: #4242424a;
    max-height: 400px;
    overflow: auto;
}
.bar {
    padding-right: 1em;
    border-right: 1px solid orange;
}
.link {
    color: blue;
    text-decoration: underline;
}
/*
    Footer
*/
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer-text {
 	font-family: monospace;
	color: black;
    font-size: 1em;
}
/*
    404 not found
*/
.image {
	opacity: 1;
	width: 100%;
	height: auto;
}
/*
    Mobile-friendly stuff
*/

.wrapper-4 {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 10% 35% 25%;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
}
.title-4 {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 10% 35% 25%;
}
.wrapper-3 {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
}
.title-3 {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 50%;
}
.items {
    font-size: 1rem;
    word-wrap: break-word;
    border-bottom: 1px solid black;
}
.items:nth-child(1n) {
    border-right: 1px solid black;
}

div.header:nth-child(3) {
    position: absolute;
    top: 90vh;
}

@media (max-width: 750px) {
    .left-bar {
        position: relative;
        width: 100%;
        height: auto;
        background: white;
    }
	.main {
		display: flex;
        flex-direction: column;
		width: 95%;
	}

	.grid-content, .grid-content-full {
		grid-template-columns: 100%;
	}
	.main > .left-bar, .center-top, .center-bottom {
		margin: 0.2em;
	}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-content {
        margin: 0.3em;
        font-size: 1rem;
    }
    .scrollable-table > table {
        width: 100%;
    }
    table, td {
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 12px;
    }
    /*
    td {
        padding: 15px;
    }
    */
    th {
        text-align: left;
    }
}
@media (min-width: 751px) and (max-width: 1099px) {
    .left-bar {
        position: relative;
        width: 100%;
        height: auto;
        background: white;
    }
	.main {
		width: 95%;
	}
	.grid-content, .grid-content-full {
        grid-template-columns: 100%;
	}
	.main > .left-bar, .center-top, .center-bottom {
		margin: 0.3em;
	}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-content {
        font-size: 1.3em;
    }
}
@media (min-width: 1100px) and (max-width: 1400px) {
	.main {
		width: 75%;
	}
	.grid-content, .grid-content-full {
		grid-template-columns: 1fr;
		width: 100%;
	}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
